{
  "openapi": "3.0.0",
  "info": { "title": "Rafzhost API (Post)", "version": "1.0.0" },
  "servers": [
    { "url": "https://api.rafzhost.xyz", "description": "Main Server" },
    { "url": "https://rafzhost-api.vercel.app", "description": "Vercel Server" }
  ],
  "paths": {
    "/api/hello": {
      "post": {
        "tags": ["Misc"],
        "summary": "Simple hello POST",
        "requestBody": {
          "description": "Optional body for hello",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Rafflie" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/ping": {
      "post": {
        "tags": ["Misc"],
        "summary": "Cek koneksi API via POST",
        "requestBody": {
          "description": "Optional body for ping",
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/downloader/tiktok": {
      "post": {
        "tags": ["Downloader"],
        "summary": "Download TikTok video via POST",
        "requestBody": {
          "description": "URL TikTok video",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "example": "https://www.tiktok.com/@user/video/123456" }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    }
  }
}
