{
  "openapi": "3.0.0",
  "info": {
    "title": "Rafzhost API",
    "version": "1.0.0",
    "description": "📖 Dokumentasi resmi API Rafzhost"
  },
  "servers": [
    { "url": "https://api.rafzhost.xyz", "description": "Main Server" },
    { "url": "https://rafzhost-api.vercel.app", "description": "Vercel Server" }
  ],
  "paths": {
    "/api/hello": {
      "get": {
        "tags": ["Misc"],
        "summary": "Simple hello GET",
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "tags": ["Misc"],
        "summary": "Test POST hello",
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/ping": {
      "get": {
        "tags": ["Misc"],
        "summary": "Cek koneksi API",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/downloader/tiktok": {
      "get": {
        "tags": ["Downloader"],
        "summary": "Download TikTok video",
        "parameters": [
          {
            "in": "query",
            "name": "url",
            "required": true,
            "schema": { "type": "string" },
            "description": "Video URL"
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
        "/api/m/brat": {
      "get": {
        "tags": ["Maker", "Image", "GIF"],
        "summary": "Generate Brat image atau GIF (GET)",
        "parameters": [
          { "name": "text", "in": "query", "required": true, "schema": { "type": "string", "maxLength": 800 }, "description": "Teks untuk Brat image/GIF" },
          { "name": "isAnimated", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Set true untuk GIF animasi" },
          { "name": "delay", "in": "query", "schema": { "type": "integer", "default": 500, "minimum": 100, "maximum": 1500 }, "description": "Delay antar kata untuk GIF (ms)" }
        ],
        "responses": {
          "200": { "description": "Image/GIF berhasil dibuat", "content": { "image/png": {}, "image/gif": {} } },
          "400": { "description": "Bad request" },
          "500": { "description": "Internal server error" }
        }
      },
      "post": {
        "tags": ["Maker", "Image", "GIF"],
        "summary": "Generate Brat image atau GIF (POST)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": {
                  "text": { "type": "string", "maxLength": 800 },
                  "isAnimated": { "type": "boolean", "default": false },
                  "delay": { "type": "integer", "default": 500, "minimum": 100, "maximum": 1500 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Image/GIF berhasil dibuat", "content": { "image/png": {}, "image/gif": {} } },
          "400": { "description": "Bad request" },
          "500": { "description": "Internal server error" }
        }
      }
    }
  }
}
