{
  "openapi": "3.0.0",
  "info": { "title": "Rafzhost API (Docs)", "version": "1.0.0" },
  "servers": [
    { "url": "https://api.rafzhost.xyz", "description": "Main Server" },
    { "url": "https://rafzhost-api.vercel.app", "description": "Vercel Server" }
  ],
  "paths": {
    "/api/hello": {
      "get": {
        "tags": ["Misc"],
        "summary": "Simple hello GET",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/ping": {
      "get": {
        "tags": ["Misc"],
        "summary": "Cek koneksi API",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/downloader/tiktok": {
      "get": {
        "tags": ["Downloader"],
        "summary": "Download TikTok video",
        "parameters": [
          { "in": "query", "name": "url", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/m/brat": {
      "get": {
        "summary": "Generate Brat Media",
        "description": "Generate Brat image, animated webp, or mp4 video from text/emoji",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Text or emoji to render"
          },
          {
            "name": "media",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["png", "webp", "mp4"],
              "default": "png"
            },
            "description": "Output media type. PNG is static, webp/mp4 are animated."
          },
          {
            "name": "delay",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 150 },
            "description": "Frame delay in ms (ignored for PNG)"
          }
        ],
        "responses": {
          "200": {
            "description": "Media generated successfully",
            "content": {
              "image/png": { "schema": { "type": "string", "format": "binary" } },
              "image/webp": { "schema": { "type": "string", "format": "binary" } },
              "video/mp4": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "400": { "description": "Bad Request" },
          "500": { "description": "Internal Server Error" }
        }
      }
    }
  }
}
