{
  "openapi": "3.0.0",
  "info": {
    "title": "Rafzhost API",
    "version": "1.0.0",
    "description": "📖 Dokumentasi resmi API Rafzhost"
  },
  "servers": [
    { "url": "https://api.rafzhost.xyz", "description": "Main Server" },
    { "url": "https://rafzhost-api.vercel.app", "description": "Vercel Server" }
  ],
  "paths": {
    "/api/hello": {
      "get": {
        "tags": ["Misc"],
        "summary": "Simple hello GET",
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "tags": ["Misc"],
        "summary": "Test POST hello",
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/ping": {
      "get": {
        "tags": ["Misc"],
        "summary": "Cek koneksi API",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/downloader/tiktok": {
      "get": {
        "tags": ["Downloader"],
        "summary": "Download TikTok video",
        "parameters": [
          {
            "in": "query",
            "name": "url",
            "required": true,
            "schema": { "type": "string" },
            "description": "Video URL"
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/m/brat": {
      "get": {
        "summary": "Generate Brat Media",
        "description": "Generate image/video Brat. PNG tidak animasi. GIF/WEBP/MP4 otomatis animasi.",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Teks yang ingin ditampilkan, bisa emoji"
          },
          {
            "name": "media",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["png", "gif", "webp", "mp4"]
            },
            "description": "Tipe media yang dihasilkan"
          },
          {
            "name": "delay",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 150 },
            "description": "Delay per frame (ms), hanya berlaku untuk media animasi"
          }
        ],
        "responses": {
          "200": {
            "description": "Media berhasil dihasilkan",
            "content": {
              "image/png": { "schema": { "type": "string", "format": "binary" } },
              "image/gif": { "schema": { "type": "string", "format": "binary" } },
              "image/webp": { "schema": { "type": "string", "format": "binary" } },
              "video/mp4": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "400": { "description": "Parameter tidak valid" },
          "500": { "description": "Error generate media" }
        }
      },
      "post": {
        "summary": "Generate Brat Media (POST)",
        "description": "Endpoint POST untuk generate Brat image/video.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": { "type": "string", "description": "Teks yang ingin ditampilkan" },
                  "media": { "type": "string", "enum": ["png", "gif", "webp", "mp4"], "description": "Tipe media" },
                  "delay": { "type": "integer", "description": "Delay frame animasi (ms)" }
                },
                "required": ["text", "media"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Media berhasil dihasilkan",
            "content": {
              "image/png": { "schema": { "type": "string", "format": "binary" } },
              "image/gif": { "schema": { "type": "string", "format": "binary" } },
              "image/webp": { "schema": { "type": "string", "format": "binary" } },
              "video/mp4": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "400": { "description": "Parameter tidak valid" },
          "500": { "description": "Error generate media" }
        }
      }
    }
  }
}
