{
  "openapi": "3.0.0",
  "info": {
    "title": "Rafzhost API",
    "version": "1.0.0",
    "description": "📖 Dokumentasi resmi API Rafzhost"
  },
  "servers": [
    { "url": "https://api.rafzhost.xyz", "description": "Main Server" },
    { "url": "https://rafzhost-api.vercel.app", "description": "Vercel Server" }
  ],
  "paths": {
    "/api/hello": {
      "get": {
        "tags": ["Misc"],
        "summary": "Simple hello GET",
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "tags": ["Misc"],
        "summary": "Test POST hello",
        "requestBody": {
          "content": { "application/json": { "schema": { "type": "object" } } }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/ping": {
      "get": {
        "tags": ["Misc"],
        "summary": "Cek koneksi API",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/downloader/tiktok": {
      "get": {
        "tags": ["Downloader"],
        "summary": "Download TikTok video",
        "parameters": [
          {
            "in": "query",
            "name": "url",
            "required": true,
            "schema": { "type": "string" },
            "description": "Video URL"
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/m/brat": {
      "get": {
        "summary": "Generate Brat",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Text/emoji yang ingin ditampilkan"
          },
          {
            "name": "media",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["png", "webp", "mp4"],
              "default": "png"
            },
            "description": "Jenis media output"
          },
          {
            "name": "delay",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 150 },
            "description": "Delay per frame (ms) untuk media animasi (webp/mp4)"
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil generate media",
            "content": {
              "image/png": { "schema": { "type": "string", "format": "binary" } },
              "image/webp": { "schema": { "type": "string", "format": "binary" } },
              "video/mp4": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "400": { "description": "Bad Request" },
          "500": { "description": "Internal Server Error" }
        }
      }
    }
  }
}
