{
  "openapi": "3.0.0",
  "info": { "title": "Rafzhost API (Docs)", "version": "1.0.0" },
  "servers": [
    { "url": "https://api.rafzhost.xyz", "description": "Main Server" },
    { "url": "https://rafzhost-api.vercel.app", "description": "Vercel Server" }
  ],
  "paths": {
    "/api/hello": {
      "get": {
        "tags": ["Misc"],
        "summary": "Simple hello GET",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/ping": {
      "get": {
        "tags": ["Misc"],
        "summary": "Cek koneksi API",
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/downloader/tiktok": {
      "get": {
        "tags": ["Downloader"],
        "summary": "Download TikTok video",
        "parameters": [
          { "in": "query", "name": "url", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
        "/api/m/brat": {
      "get": {
        "summary": "Generate Brat image/GIF (GET)",
        "tags": ["Maker", "Image", "GIF"],
        "parameters": [
          { "name": "text", "in": "query", "required": true, "schema": { "type": "string", "maxLength": 800 } },
          { "name": "isAnimated", "in": "query", "schema": { "type": "boolean", "default": false } },
          { "name": "delay", "in": "query", "schema": { "type": "integer", "default": 500, "minimum": 100, "maximum": 1500 } }
        ],
        "responses": { "200": { "description": "Image/GIF berhasil dibuat" } }
      },
      "post": {
        "summary": "Generate Brat image/GIF (POST)",
        "tags": ["Maker", "Image", "GIF"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["text"],
                "properties": {
                  "text": { "type": "string", "maxLength": 800 },
                  "isAnimated": { "type": "boolean", "default": false },
                  "delay": { "type": "integer", "default": 500, "minimum": 100, "maximum": 1500 }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Image/GIF berhasil dibuat" } }
      }
    }
  }
}
