{
  "openapi": "3.0.0",
  "info": { "title": "Rafzhost API (Post)", "version": "1.0.0" },
  "servers": [
    { "url": "https://api.rafzhost.xyz", "description": "Main Server" },
    { "url": "https://rafzhost-api.vercel.app", "description": "Vercel Server" }
  ],
  "paths": {
    "/api/hello": {
      "post": {
        "tags": ["Misc"],
        "summary": "Simple hello POST",
        "requestBody": {
          "description": "Optional body for hello",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "example": "Rafflie" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/ping": {
      "post": {
        "tags": ["Misc"],
        "summary": "Cek koneksi API via POST",
        "requestBody": {
          "description": "Optional body for ping",
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object" }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/downloader/tiktok": {
      "post": {
        "tags": ["Downloader"],
        "summary": "Download TikTok video via POST",
        "requestBody": {
          "description": "URL TikTok video",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "example": "https://www.tiktok.com/@user/video/123456" }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/api/m/brat": {
  "post": {
    "tags": ["Brat"],
    "summary": "Generate Brat Media",
    "description": "Generate Brat image/video/webp/png from text/emoji",
    "requestBody": {
      "required": true,
      "content": {
        "application/x-www-form-urlencoded": {
          "schema": {
            "type": "object",
            "properties": {
              "text": { "type": "string", "description": "Text or emoji to render" },
              "media": {
                "type": "string",
                "enum": ["png", "webp", "mp4"],
                "description": "Output media type. PNG is static, others are animated"
              },
              "delay": {
                "type": "integer",
                "description": "Frame delay in ms (ignored for PNG)",
                "default": 150
              }
            },
            "required": ["text", "media"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "Media generated successfully",
        "content": {
          "image/png": { "schema": { "type": "string", "format": "binary" } },
          "image/webp": { "schema": { "type": "string", "format": "binary" } },
          "video/mp4": { "schema": { "type": "string", "format": "binary" } }
        }
      },
      "400": { "description": "Bad Request" },
      "500": { "description": "Internal Server Error" }
    }
  }
    }
  }
}
